### 算术运算
不同索引的对象之间可以进行算术运算。
- 若存在不同的索引项，运算结果的索引是运算对象的索引的并集，而在两个对象中并不同时存在的索引处值为空值NaN；
- 一个运输对象使用add方法传入另外一个运算对象和fill_value参数，运算对象在另外一个对象中不存在的索引处值填入参数fill_value的值然后再进行运算；

In [1]:
import numpy as np
import pandas as pd
frame1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=list('ABC'),index=list('bce'))
frame2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=list('ACD'),index=list('abc'))

In [2]:
frame1

   A  B  C
b  1  2  3
c  4  5  6
e  7  8  9

In [3]:
frame2

   A  C  D
a  1  2  3
b  4  5  6
c  7  8  9

In [4]:
# 相加后，行索引和列索引为frame1和frame2的行、列索引的并集
# 在frame1和frame2同时存在的索引位置的数值为运算结果，其他均为NaN
frame1+frame2

      A   B     C   D
a   NaN NaN   NaN NaN
b   5.0 NaN   8.0 NaN
c  11.0 NaN  14.0 NaN
e   NaN NaN   NaN NaN

In [5]:
frame1.add(frame2,fill_value=0) # 使用add方法，可以在不存在的索引处填入值

      A    B     C    D
a   1.0  NaN   2.0  3.0
b   5.0  2.0   8.0  6.0
c  11.0  5.0  14.0  9.0
e   7.0  8.0   9.0  NaN