## 层次化索引的选取、切片
建议使用`loc[]`来进行选取
- 对于Series，第一个参数为外层索引，第二个参数为内层索引
- 对于DataFrame，使用元组来确定某一行/列，如`loc[(外层标签,内层标签),列标签]`

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series(
    np.random.randn(9),
    index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
           list('hjkhjklkj')])
data

a  h   -1.334017
   j    0.941755
   k   -0.666240
b  h   -2.146604
   j    1.450053
c  k    0.866942
   l   -0.199072
d  k    0.363648
   j    1.184865
dtype: float64

In [3]:
data.loc['b':'d']

b  h   -2.146604
   j    1.450053
c  k    0.866942
   l   -0.199072
d  k    0.363648
   j    1.184865
dtype: float64

In [4]:
data.loc['b':'d', 'j']  # 'b':'d'为外层索引，'j'为内层索引

b  j    1.450053
d  j    1.184865
dtype: float64

In [5]:
# 这种情况外层索引不支持使用冒号全选，因此改用slice(None)来替代冒号进行全选
data.loc[slice(None), ['j', 'k']]

a  j    0.941755
   k   -0.666240
b  j    1.450053
c  k    0.866942
d  k    0.363648
   j    1.184865
dtype: float64

In [6]:
data = pd.DataFrame(
    np.random.randint(1, 100, size=25).reshape((5, 5)),
    index=[list('aabbc'), list('xyyzz')],
    columns=list('ABCDE'))
data

      A   B   C   D   E
a x   4  94  28   4  17
  y  11  28  27  15   6
b y  31  91  45  86  62
  z  54  85  45  64  18
c z  23  11  87  60  11

In [7]:
data.loc['a', 'B':'D']  # 选取外层标签的所有行

    B   C   D
x  94  28   4
y  28  27  15

In [8]:
data.loc['a', 'y']  # 选取指定外层和内层标签指定的行

A    11
B    28
C    27
D    15
E     6
Name: (a, y), dtype: int32

In [9]:
data.loc[('a', 'y')]  # 同上，使用元组格式

A    11
B    28
C    27
D    15
E     6
Name: (a, y), dtype: int32

In [10]:
# a-y行到b-z行切片，选取B、C、E列
data.loc[('a', 'y'):('b', 'z'), ['B', 'C', 'E']]

      B   C   E
a y  28  27   6
b y  91  45  62
  z  85  45  18

In [11]:
# 选取所有内层标签是y的行，外层标签使用：会出错，因此使用slice(None)
data.loc[(slice(None), 'y'), :]

      A   B   C   D   E
a y  11  28  27  15   6
b y  31  91  45  86  62