## 1. 数据库风格的DataFrame合并
`merge()` 通过列/行索引将两个DataFrame合并起来  
参数  
- `how`：连接方式，可用值{'left', 'right', 'outer', 'inner'}，默认'inner'，各值说明如下：![title](img/marge-how.png)
- `on`：指定使用哪列/行作为连接键（必须是共同拥有的标签，或标签组成的list），如果没有指定，会默认使用所有共同拥有的标签的行/列进行连接
- `left_on` `right_on`：指定左/右对象用做连接键的列
- `left_index` `right_index`：指定左/右对象的index索引用做连接键
- `sort`：布尔值，合并后的数据根据连接键进行排序，默认False
- `suffixes`：字符串值元组，用于追加到重叠标签名的末尾，以区分数据来源，默认`('_x','_y')`
- `indicator`：布尔值，在合并结果中增加一列'_merge'，用来指明每行数据的来源，'left_only'、'right_only'或'both'

In [1]:
import numpy as np
import pandas as pd

In [2]:
d1=pd.DataFrame({'key':list('abcabcbac'),'data1':np.random.randint(10,size=9)})
d1

  key  data1
0   a      7
1   b      1
2   c      4
3   a      2
4   b      5
5   c      7
6   b      2
7   a      9
8   c      9

In [13]:
d2=pd.DataFrame({'key':list('abd'),'data2':list('XYZ')})
d2

  key data2
0   a     X
1   b     Y
2   d     Z

In [14]:
pd.merge(d1,d2)

  key  data1 data2
0   a      7     X
1   a      2     X
2   a      9     X
3   b      1     Y
4   b      5     Y
5   b      2     Y

In [17]:
pd.merge(d1,d2,indicator=True)

  key  data1 data2 _merge
0   a      7     X   both
1   a      2     X   both
2   a      9     X   both
3   b      1     Y   both
4   b      5     Y   both
5   b      2     Y   both